*{
  background-color:rgb(170, 221, 255);
}
.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 45px;
  background-color: cornflowerblue;
  width: 100%;

}

.calculator-body {
  max-width: 450px;
  margin: auto;
  background-color: rgb(255, 103, 128);
}

.button {
  display: block;
  background-color: rgb(255, 255, 255);
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  color: blueviolet;
  border-color: deeppink;
}

