*{
  background-color:rgb(255, 255, 255);
}
.result {
  height: 60px;
  background-color: rgb(204, 204, 204);
  width: 100%;
}

.result p {
  font-size: 45px;
  background-color: cornflowerblue;
  width: 100%;

}

.calculator-body {
  max-width: 450px;
  margin: auto;
  background-color: rgb(140, 106, 255);
}

.button {
  display: block;
  background-color: rgb(255, 56, 56);
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  border-color: rgb(255, 0, 0);
}

